.wrapper{
    margin:0px;
    background-color: #151414e3;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imagecontainer{
    background-color: #c2a3e0;
    display: flex;
    border-radius: 250px;
    height: 240px;
    width: 240px;
    align-content: center;
    justify-content: space-around;
    // border-radius: var(--chakra-radii-full);
    align-items: center;
}
.image{
    border-radius: 60px !important;

}